{% extends "base.html" %}
{% block content %}
<h1>Cadastro</h1>

<form action="" method="post">
    {{ form.hidden_tag() }}

    <p>
        {{ form.nome.label }}<br>
        {{ form.nome(class="form-control form-control-lg rounded-0") }}
    </p>
    <p>
        {{ form.nome_usuario.label }}<br>
        {{ form.nome_usuario(class="form-control form-control-lg rounded-0") }}
    </p>

    <p>
        {{ form.senha.label }}<br>
        {{ form.senha(class="form-control form-control-lg rounded-0") }}
    </p>
    
    <a href="{{url_for('login')}}" class="card-link">Já tem conta? Faça Login</a>

    {{form.submit(class="btn")}}
    


</form>


{% endblock %}