{% extends 'bootstrap/base.html' %}
{% block html_attribs %} lang="pt-BR"{% endblock %}
{% block title %}Lista{% endblock %}
{% block styles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}
{% block content %}
<div class="container">
  <div class="page-header">
    <h1>{{ carros|length }} carros encontrados</h1>
  </div>
  {% if carros %}
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Modelo</th>
      <th>Cor</th>
      <th>Ano</th>
      <th>Comentarios</th>
    </tr>
    {% for carro in carros %}
    <tr>
      <td>{{ carro.id }}</td>
      <td>{{ carro.modelo }}</td>
      <td>{{ carro.cor }}</td>
      <td>{{ carro.ano }}</td>
      <td>
        <a href="{{ url_for('novo_comentario', id=carro.id) }}">Novo</a> <br>
        <a href="{{ url_for('comentarios', id=carro.id) }}">Mostrar</a>

      </td>

    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>
{% endblock %}